.card-columns .card-img {
    height: 300px;    
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */   
}
.card-inner {  
    transition: transform 1s;
    transform-style: preserve-3d;    
}
.card { 
    border-color: white;   
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.card-front {
    background-color: #bbb;
    color: black;
}

.card-back {
    position: fixed;
    bottom: 0px;
    background-color: #D1F2EB;
    color: white;
    transform: rotateY(180deg);
}
.card-back p{
    padding-left:10%;
}
.card-back h3{
    padding-top:20px;
}
